/* The alert message box */

.messageBox {
    padding: 20px;
    color: white;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: large;
}

.error {
    background-color: #f44336; /* Red */
}

.message {
    background-color: darkgreen; /* Red */
}

.left-menu {
    height: 100%;
    box-shadow: 2px 0px 2px #888888;
}

.queryResultItem {
    font-size: smaller;
}

.textarea {
    width: 100%;
    height: 150px;
}

.textcomplete-dropdown {
    border: 1px solid #ddd;
    background-color: white;
}

.textcomplete-dropdown li {
    border-top: 1px solid #ddd;
    padding: 2px 5px;
}

.textcomplete-dropdown li:first-child {
    border-top: none;
}

.textcomplete-dropdown li:hover,
.textcomplete-dropdown .active {
    background-color: rgb(110, 183, 219);
}

.textcomplete-dropdown {
    list-style: none;
    padding: 0;
    margin: 0;
}

.textcomplete-dropdown a:hover {
    cursor: pointer;
}

